@using BSGGame.GameLogic
@page "/gameboard"

<h1>🚀 Game Board</h1>

<p>Select a location:</p>

<div class="grid grid-cols-3 gap-3">
    <button class="btn btn-primary">Command</button>
    <button class="btn btn-primary">Research Lab</button>
    <button class="btn btn-primary">Sickbay</button>
    <button class="btn btn-primary">Brig</button>
</div>

<div class="top-row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var player in players)
    {
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@player.Name</h5>
                    <p class= "card-text">
                        Loyalty: <strong>@player.Loyalty</strong>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@code {
    public static List<Player> players = new()
    {
        new Player {Name = "Adama", Loyalty = Loyalty.Human},
        new Player {Name = "Boomer", Loyalty = Loyalty.Cylon},
        new Player {Name = "Starbuck", Loyalty = Loyalty.Human}
    };
}